@page
@model PizzaApp.Pages.Cupons.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Cupon</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Cupon.Id" />
            <div class="form-group">
                <label asp-for="Cupon.Type" class="control-label"></label>
                <input asp-for="Cupon.Type" class="form-control" />
                <span asp-validation-for="Cupon.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cupon.StartDate" class="control-label"></label>
                <input asp-for="Cupon.StartDate" class="form-control" />
                <span asp-validation-for="Cupon.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cupon.EndDate" class="control-label"></label>
                <input asp-for="Cupon.EndDate" class="form-control" />
                <span asp-validation-for="Cupon.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cupon.Value" class="control-label"></label>
                <input asp-for="Cupon.Value" class="form-control" />
                <span asp-validation-for="Cupon.Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cupon.Code" class="control-label"></label>
                <input asp-for="Cupon.Code" class="form-control" />
                <span asp-validation-for="Cupon.Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
