@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="mainText">
        <h1 class="display-4 text-capitalize text-black">Welcome to Online Pizza Restaurant</h1>
        <br />

        <h2 class="mainSubTitle">Order now and experience what real pizza taste like!!</h2>
        <br />
    </div>

    <a class="btn btn-primary mt-1" asp-area="" asp-page="Checkout/ThankYou">GET ME THAT PIZZA</a>

</div>
