@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="mainText">
        <h1 class="display-4 text-capitalize text-black">Welcome to Our Online Pizza App</h1>
        <br />

        <img src="~/images/pizzagen.jpg" alt="Pizza Image" style="max-width: 100%; height: auto;" />
        <br />
    </div>
</div>
